.notification {
    display: block;
    position: absolute;
    z-index: 10;
    background-color: #60ca8d;
    width: 15%;
    height: 60px;
    border-radius: 4px;
    margin-left: 82%;

    .content {
        color: white;
        font-size: 12px;
        position: absolute;
        top: -10px;
        left: 50%;
        color: white;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
    }
}
