<wa-layout>
    <template slot="header" v-if="isShowLoading==false">
        <h1>
            <strong>
                Profile
            </strong>
        </h1>
        <div class="notification" v-if="isShowNotification">
            <div class="content">
                <span class="fa fa-check-circle d-inline"></span>&nbsp;&nbsp;
                <span class="d-inline">Your profile settings have been saved</span>
            </div>
        </div>
    </template>

    <template slot="content" v-if="isShowLoading==false">
        <div id="profileContent" class="pl-5">
            <h1>
                <strong>
                    LINK - CDP account pairing
                </strong>
            </h1>
            <br />
            <h6>Please select a LINK account to pair it with your CDP account</h6>

            <div class="col-2 pl-0">
                <b-form-group>
                    <b-form-input id="cdpAccount"
                                  type="text"
                                  v-model="cdpAcount"
                                  disabled>
                    </b-form-input>
                    <br />
                    <b-form-select id="linkAccountSelect"
                                   v-model="selectedLinkAccount"
                                   :options="arrLinkAccount"
                                   @change="$v.selectedLinkAccount.$touch()"
                                   class="mb-3"
                                   style="background-image: none">
                        <template slot="first">
                            <option value="null" disabled>Select a LINK account</option>
                        </template>
                    </b-form-select>
                    <p class="invalid-message" v-if="!$v.selectedLinkAccount.requiredLinkAccount">This field is required</p>
                </b-form-group>
            </div>

            <b-button variant="success" v-on:click="saveProfile" :disabled="selectedLinkAccount == null">Confirm</b-button>
        </div>
    </template>
</wa-layout>