<b-container fluid class="mpcontent pt-3">
    <b-row>
        <b-col>
            <span id="sort-process-all-id" class=" sort-process" v-bind:class="{active: sortProcessActive === 1 && !isExplore, explore: isExplore, activeE: sortProcessActive === 1 && isExplore}" v-on:click="sortby">All</span>
            <span id="sort-process-triggered-id" class="sort-process" v-bind:class="{active: sortProcessActive === 2 && !isExplore, explore: isExplore, activeE: sortProcessActive === 2 && isExplore}" v-on:click="sortby">Triggered</span>
            <span id="sort-process-scheduled-id" class="sort-process" v-bind:class="{active: sortProcessActive === 3 && !isExplore, explore: isExplore, activeE: sortProcessActive === 3 && isExplore}" v-on:click="sortby">Scheduled</span>

        </b-col>
        <b-col>
            <b-input-group>
                <b-input-group-prepend style="align-self: center;">
                    <span v-on:click="refresh_click" class="refresh-button" v-bind:class="{explore: isExplore}"><i class="fas fa-sync-alt"></i></span>
                </b-input-group-prepend>
                <b-form-input type='text' placeholder="Search" v-model="searchContent" v-on:input="txtSearch_input"></b-form-input>
                <b-input-group-append class="ml-2">
                    <button class="btn-explore" v-bind:class="{explore: isExplore}" v-on:click="explore_click">{{exploreText}}</button>
                    <button class="ml-2 btn-new-process" v-on:click="createprocess_click">+ New process</button>
                </b-input-group-append>
            </b-input-group>

        </b-col>
    </b-row>
</b-container>
