.vertical-nav {
    height: 100%;
    background-color: #3a75c4;;
    position: relative;
    z-index: 3;
    width: 80px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s; /* Safari and Chrome */
    -moz-transition: width 0.5s; /* Firefox */
    -o-transition: width 0.5s; /* Opera */    
}

.vertical-nav:hover {
    width: 180px;
}

.img-link {
    height: 100%; 
    width: 50%; 
    margin: auto; 
    display: block;
}

// .nav-item {
//     position: absolute;
//     left: 30%;
//     width: 70%;
//     top: 150px;
//     transition: top 1s ease-in-out, left 1s ease-in-out;
//     -webkit-transition: top 1s ease-in-out, left 1s ease-in-out; /* Safari and Chrome */
//     -moz-transition: top 1s ease-in-out, left 1s ease-in-out; /* Firefox */
//     -o-transition: top 1s ease-in-out, left 1s ease-in-out; /* Opera */
// }

.vertical-nav:hover .nav-item {
    left: 15%;
    top: 150px;
}

.menu-icons {
    font-size: 2rem; 
    color: white;
}

.menu-text {
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;
    margin-left: 5%;
    opacity:0.0;
    text-decoration: underline;
    animation: opacity 2s;
    -webkit-animation: opacity 2s; /* Safari and Chrome */
    -moz-animation: opacity 2s; /* Firefox */
    -o-animation: opacity 2s; /* Opera */
}

.vertical-nav:hover .menu-text {
    opacity:1.0;
}

.img-bollore {
    width: 5%; 
    margin: auto; 
    display: block;
    transform: rotateZ(-90deg);
    position: fixed;
    bottom: 5%;
    left: -5px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out; /* Safari and Chrome */
    -moz-transition: all .5s ease-out; /* Firefox */
    -o-transition: all .5s ease-out; /* Opera */
}

.vertical-nav:hover .img-bollore {
    left: 15px;
    width: 150px;
    transform: rotateZ(0deg);
}
$animateDuration: 0.3s;
$PrimaryBlue900: #0F4D75; // #06466F
#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 101;
    background-color: #3A75C4;
    color: #fff;
    transition: width $animateDuration;
    transition-delay: 0.1s;
    overflow-y: hidden;
    overflow-x: hidden;

    .menu-modules {
        min-height: calc(91% - 240px);

        ul .menu-home {
            display: none;
        }

        .subMenu {
            position: fixed;
            left: 200px;
            background-color: #3A75C4;
            z-index: 1;
            margin-top: -60px;
            width: 0px;

            &.showSubMenu {
                transition: ease width 0.3s;
                width: 220px;

                .subMenuBorder {
                    border-left: solid 2px rgba(255, 255, 255, 0.4);
                }
            }
        }
    }

    .collapsed-burger {
        display: none;
    }

    #sidedrawer-brand {
        height: 100px;
        padding: 10px;
        text-align: center;


        .link-logo {
            width: 100px;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            margin: 0;
            transition: width $animateDuration;
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0;

        & > li {
            height: 54px; //  width: 200px;
            display: block; // text-align: center;
            &.sidedrawer-burger {
                cursor: pointer;
                padding: 16px;
                font-size: 24px;
                text-align: center;
                border-top: 1px solid $PrimaryBlue900;
            }
        }

        .menu-module {
            height: 100%;
            overflow: hidden;
            display: inline-block;
            color: #fff;
            cursor: pointer;
            width: 100%;

            &:hover {
                color: #e0e0e0;
                text-decoration: none;

                .module-title {
                    text-decoration: underline;
                }
            }

            .module-picto {
                text-align: center;
                overflow: hidden;
                vertical-align: middle;

                i {
                    width: 70px;
                    height: 100%;
                    font-size: 20px;
                    padding: 16px;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            strong {
                overflow: hidden;
                width: calc(100% - 60px);
            }
        }

        #menu-search.hide-pd {
            padding-top: 0px;
        }

        #menu-search.show-pd {
            padding-top: 15px;
        }
    }

    & > ul > li:first-child {
        strong:hover {
            background-color: #e0e0e0;
        }

        strong + ul > li {
            padding: 6px 0px;
        }
    }

    .bollore-logo {

        img {
            transform: rotateZ(360deg);
            position: relative;
            right: 0;
            transition: all 0.3s ease-out;
            max-width: 190px;
        }
    }
}

.collapse-sidedrawer {
    #sidedrawer {
        overflow: hidden;
        width: 70px;

        #sidedrawer-brand {
            .link-logo {
                width: 50px;
            }
        }

        .bollore-logo img {
            transform: rotateZ(270deg);
            transform-origin: bottom left;
            left: 68px;
            height: 60px;
        }
    }
}