<wa-layout>
    <template slot="header" v-if="isShowLoading==false">
        <h1>
            <strong>
                Link account selection
            </strong>
        </h1>
    </template>

    <template slot="content" v-if="isShowLoading==false">
        <div id="profileContent" class="pl-5">
            <div id="linkAccountSuggest" v-if="linkAccountSuggest==true" class="mt-3">
                <h6>There is no Link account with your email address</h6>
                <a :href="linkCDPCreateAccount">Create Link account</a>
            </div>

            <div id="linkAccountSelect" v-if="linkAccountSuggest==false" class="mt-3">
                <h6>Please select a Link account among the ones linked your email address</h6>

                <div class="col-2 pl-0">
                    <b-form-group>
                        <b-form-input id="cdpAccount"
                                      type="text"
                                      v-model="cdpAcount"
                                      disabled>
                        </b-form-input>
                        <br />
                        <b-form-select id="linkAccountSelect"
                                       v-model="selectedLinkAccount"
                                       :options="arrLinkAccount"
                                       @change="$v.selectedLinkAccount.$touch()"
                                       class="mb-3"
                                       style="background-image: none">
                            <template slot="first">
                                <option value="null" disabled>Select a LINK account</option>
                            </template>
                        </b-form-select>
                        <p class="invalid-message" v-if="!$v.selectedLinkAccount.required">This field is required</p>
                    </b-form-group>
                </div>

                <b-button variant="success" v-on:click="saveLinkAccount" :disabled="selectedLinkAccount == null">OK</b-button>
            </div>
        </div>
    </template>
</wa-layout>