.page-title {
    background-color: #FFFFFF;
    height: 100px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    .page-header {
        font-size: 28px;
        border: none;
        padding: 0px 10px;
    }
}

::placeholder {
    color: #9faab9 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9faab9 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9faab9 !important;
}
.custom-select {
    -webkit-appearance: menulist !important;
}