<b-row>
    <b-col>
        <draggable v-model="arrDraggableHeader" class="gv-header">
            <div draggable="false" v-for="item in arrDraggableHeader" :key="item.id"
                v-bind:style="{ width: item.widthPercentage }">
                <gvcriteria v-if="item.typeCriteria === 'inp'" :titleCriteria="item.titleCriteria"
                    :typeCriteria="item.typeCriteria" :dataInput.sync="filterCriteria[item.modelData]"
                    :columnName="item.modelData" :orderColumn.sync="orderColumn"></gvcriteria>

                <gvcriteria v-if="item.typeCriteria === 'dtm'" :titleCriteria="item.titleCriteria"
                    :typeCriteria="item.typeCriteria" :dataDate.sync="filterCriteria[item.modelData]"
                    :columnName="item.modelData" :orderColumn.sync="orderColumn"></gvcriteria>

                <gvcriteria v-if="item.typeCriteria === 'ddl'" :titleCriteria="item.titleCriteria"
                    :typeCriteria="item.typeCriteria" :listData="getItemList(item.modelData)"
                    :selectedItem.sync="filterCriteria[item.modelData]" :columnName="item.modelData"
                    :orderColumn.sync="orderColumn"></gvcriteria>

                <gvcriteria v-if="item.typeCriteria === null" :titleCriteria="item.titleCriteria"
                    :columnName="item.modelData" :orderColumn.sync="orderColumn" onlyTitle>
                </gvcriteria>
            </div>
            <div style="width: 3%"></div>
        </draggable>
    </b-col>
</b-row>