.gv-header {
    width: 100%;
    display: flex;
    flex-direction: row;
  
    > div,
    > .sortable-ghost,
    > .sortable-chosen {
      display: flex;
      &[draggable="false"] {
        cursor: -webkit-grab !important;
        cursor: -moz-grab !important;
      }
      &[draggable="true"] {
        cursor: -webkit-grabbing !important;
        cursor: -moz-grabbing !important;
      }
    }
    > div:first-child {
      margin-right: 5px;
    }
    > div:last-child {
      margin-left: 5px;
    }
    > div:nth-child(2n + 1):not(:first-child):not(:last-child) {
      margin: 0 5px;
    }
  }
  