strong {
    font-size: 1.2rem;
}

.active-badge {
    padding: 0px 7px; 
    border-radius: 50%; 
    background-color: crimson;
    font-weight: bold; 
    color: white;
    font-size: 0.9rem;
}

.empty-badge {
    padding: 0px 7px; 
    border-radius: 50%;
    border: 1px solid gray;
    font-weight: bold; 
    color: gray;
    font-size: 0.9rem;
}

.filled-badge {
    padding: 4px; 
    border-radius: 50%; 
    background-color: gray;
    font-weight: bold; 
    color: white;
    font-size: 0.9rem;
}

