#popup-container {
    .popup__header__text {
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 10px;
    }

    .popup__header__btn--close {
        margin-right: 10%;
        outline: none;
    }

    .popup__body {
        margin-left: 10px;
        margin-right: 10px;
    }
}
