.gv-row {
  &.is-display-details {
    box-shadow: 10px 5px 5px 10px #f1f4f8;
    border-color: #6e95cb !important;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    height: 80px;
    position: relative;

    .icon-collapse {
      position: absolute;
      right: 10px;
      top: 35px;
      color: #6492d3;
      cursor: pointer;

      &[display-details="true"] {
        .fa-angle-down {
          display: none;
        }
      }

      &[display-details="false"] {
        .fa-angle-up {
          display: none;
        }
      }
    }

    .to-numbel-label {
      color: blue;
    }

    > div {
      display: flex;
      padding: 0 5px 0 10px;
      align-items: center;
    }
  }

  .details-content {
    width: 100%;
    margin-top: 10px 0;
    background-color: #ffffff;
    border-top: 1px solid #d7dae0;
    border-radius: 10px;
  }

  .show-details {
    cursor: pointer;
    padding-left: 10px;
  }
}
