.criteria-component {
    position: relative;
    width: 100%;
    .criteria-header {
      width: 100%;
      padding: 0 5px;
      margin-top: 10px;
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .criteria-content {
      width: 100%;
      margin-top: 5px;
      .v-carlendar-input {
        position: relative;
        width: 100%;
        .input-group-text {
          border-right: none;
          background: #fff;
          cursor: pointer;
        }
        input {
          border-left: none;
        }
      }
    }
  }
  